@charset "utf-8";
@import url("/static/stylesheet.css");




#navbar {
    font-family: "JosefinSans VariableFont wght";
    font-size: 30pt;
    background-color: rgba(30,58,138,1.00);
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    min-width: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: visible;
    background-repeat: repeat;
    background-origin: padding-box;
}
.navele {
    font-family: "JosefinSans VariableFont wght";
    font-size: 20pt;
    color: White;
    background-color: rgba(234,179,8,1.00);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* Chrome and Safari */
    -webkit-border-top-left-radius: 40px;
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    /* Firefox */
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    /* Standard Syntax */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#ol {
    margin: auto;
	height:500px;
    width: 70%;
    font-family: "JosefinSans VariableFont wght";
    font-size: 30px;
    list-style-type: none;
	overflow:hidden;
	overflow-y: scroll;
	float: center;
}
.listdesc {
    font-size: 12px;
}
.radio_buttons {
    font-family: "JosefinSans VariableFont wght";
    font-size: large;
}

.listelm{
	 display: inline;
	float: left;
	margin-left: 20%
}
#recent{
	font-family: "JosefinSans VariableFont wght";
    font-size: 30pt;
}
