<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Listings</title>
</head>
<body>
<form id="form">
    <label for="query">Listing Name:</label>
    <input type="search" id="query" name="query" required><br><br>
    <button onclick="updatePage()">Search</button>
</form>
<main id="main">

</main>

</body>
<script>
   function updatePage() {
        $('#main').empty()


        let formData = new FormData(${form});
        let search = new URLSearchParams(formData);
        const url = `/getlistings?query=${search.toString()}`;

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
                $('#main').append(`<article>
        <h2>
            <a href=/listing/${entry.listing_id}>${entry.listing_name}</a></h2>
        <p>${entry.listing_description}</p>
    </article>`);

            })
        });

    }
</script>
<script>
    $(function () {
        const url = '/getlistings';

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
                $('#main').append(`<article>
        <h2>
            <a href=/listing/${entry.listing_id}>${entry.listing_name}</a></h2>
        <p>${entry.listing_description}</p>
    </article>`);

            })
        });

    })
</script>
</html>